.header__main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.247);
    
}

a {
    text-decoration: none;
}

.header__nav{
    display: flex;
    justify-content:space-around;
    
}

.header__link{
    margin-left: 40px;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}  

.header__logo{
    height: 40px;
    color: black;
    font-size: 22px;
    margin: 0 0 0 40px;
}

@media only screen and (max-width: 550px){
    
    
     .header__nav{
        width: 90%;
        display: flex;
        justify-content:center;
        align-items: center;
        
     }
     .header__logo {
         display: none;
     }
}