.projects__main{
    height: 600px;
    background-color: #FFFFFF;
    
}
.skills__title{
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
    margin: 50px 50px;
}

.skills__text{
    font-family: calibri;
    color: #7e7d7d;
    margin: 50px 50px;
}

.projects__texts{
    width: 500px;
    margin: 50px 0px;
}
.projects__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 60px;

}
.projects__card{
    width:280px;
    height:320px;
    background-color: #0b0b0b;
    margin: 15px;
    
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects__title{
    color: #FFFFFF;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}


.projects__des{
    font-family: calibri;
    
    font-size: 20px;
    
    width: 200px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}

a{
    text-align: center;
}

.projects__link{
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline:none;
    border-radius: 5px;
    padding: 8px 10px 2px 10px;
    color: black;
    
}