.projects__main{
    height: 600px;
    background-color: #FFFFFF;
    
}
.skills__title{
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
    margin: 50px 50px 25px 50px;
}

.skills__icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

.skills__icons a{
    width:40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.skills__icons i{
    color: #000000;
}

.projects__texts{
    width: 500px;
    margin: 50px 0px;
}
.projects__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 60px;

}
.projects__card{
    width:280px;
    height:320px;
    background-color: #0b0b0b;
    margin: 15px 10px;
    
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects__title{
    color: #FFFFFF;
    font-family: calibri;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}


.projects__des{
    font-family: calibri;
    
    font-size: 20px;
    
    width: 200px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}

a{
    text-align: center;
}

.projects__link{
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline:none;
    border-radius: 5px;
    padding: 8px 10px 2px 10px;
    color: black;
    
}

@media only screen and (max-width: 750px){
    
    .projects__cards{
        display: flex;
    flex-direction: column;
    
    
    }
}

@media only screen and (max-width: 550px){
    .projects__cards{
display: flex;
flex-direction: column;

justify-content: space-around;

    }
    .projects__link{
        width: 130px;
    height: 30px;
    }
    .skills__title{
        font-size: 20px;
        

    }
    .project__card{
        margin: 15px 0px;
    }
}
